.filter_posts{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 10rem;
    left: 2rem;
}
.filter_poster {
    object-fit: contain;
    width: 100%;
    max-width: 400px;
    max-height: 300px;
    /* transition: transform 450ms; */
    /* margin-right: 10px; */
    margin: 0.5rem;
    margin-bottom: 0%;
    
}
.filter_content{
    background-color: rgb(49, 49, 49);
    margin-bottom: 2rem;
    /* max-height: max-content; */
    max-width: 95%;
    /* border-radius: 1%; */
    box-shadow: 3px 5px 2px rgba(61, 61, 61, 1);
}
.filtermovie_title{
    font-size: 1rem;
    position:relative;
    /* float: right; */
    /* max-width: 50px; */
    top: -12rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}