.add_banner{
    /* color: white; */
    position: relative;
    left: 40%;
    /* align-items: center; */
    /* justify-content: center; */
    /* display: block; */
    /* margin: 0 auto; */

    /* width: 40%; */
    max-width: 200px;
}

.add_image{
    object-fit: contain;
    height: 300px;
}